
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 200px;
  min-height: 1500px;
}
.main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.linhaTop{
  margin-top: 0;
  margin-bottom: 100px;
  width: 80%;
  height: 1px;
  border-color: #c7d2f1;

}


.titulo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}

.titulo h1 {
  padding: 5px 100px;
  color: #c7d2f1;
  border: 1px solid #c7d2f1;
}



/* azul claro:#3D90D2
 azul escuro: #15324A
  cinza escuro: #3B5163 
  cinza claro: #597B96
  verde escuro: #929624
  verde claro: #DFE37B  

  /////////
  azul legal: #54d6bb
  azul escuro2: #0a192f
  branco: #c7d2f1
  cinza: #75809c */
